

/* Generel*/

font, a, label, button, select, option, input, th, td, textarea
{
  font-size:11px;
  color:#2f2f2f;
  font-family:verdana;

}



body { 
    background-color:#F6F9ED;
    font-size:11px;
    font-family:verdana; 
}


A {
  color:#000000;
  text-decoration:none;
}

A:HOVER 
{
  font-style:italic;
}
  
th { 
     text-align: left;
}

/* ------------------ Edit Page ---------------- */

table.maintable{
  margin-top: 20px;
}

h1.maintable{
  font-size: 50px;
}
/* -------------- Navigation window -------------- */
body.navigation {
    background-color:#FFFFFF;
    font-size:11px;
    font-family:verdana; 
}

ul.navigationParent{
    font-size:13px;
    padding: 10px;
    list-style-type: none;
}

ul.navigationChild{
    font-size:12px;
    padding: 10px;
    list-style-type: none;
}

.navigation A {
  color:#000000;
  text-decoration:none;
}

.navigation A:HOVER {
  background-color:#eff2f3;
}

li.selectedDoc a {
  color:#ff0000;
  list-style-type:square;
}

input.new{
    border: 0px;
    color: green;
    background: #FFFFFF;
    cursor:pointer;
}

input.new[type="submit"]:hover{
   color: red;
    background: #F6F9ED;
} 