RewriteEngine on
rewriteBase /

RewriteRule ^([a-z][a-z]?[a-z]?)/page(\-?[0-9]+)_([a-z]+)/?$ index.php?lang=$1&did=$2&tmplang=$3 [L]
RewriteRule ^([a-z][a-z]?[a-z]?)/page(\-?[0-9]+)/? index.php?lang=$1&did=$2 [QSA,L]
RewriteRule ^([a-z][a-z]?[a-z]?)/?$ index.php?lang=$1 [L]

#to redirect
RewriteRule ^([a-zA-Z0-9]+)$ redirect.php?page=$1 [L]
RewriteRule ^([a-z][a-z]?[a-z]?)/([a-zA-Z]+)$ redirect.php?lang=$1&page=$2 [L]

RewriteRule ^([a-z]+)/image([0-9]+)_([a-z]+)/?$ index.php?lang=$1&iid=$2&tmplang=$3 [L]
RewriteRule ^([a-z]+)/image([0-9]+)/?$ index.php?lang=$1&iid=$2 [L]

# -FrontPage-
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

#Parse CSS files also
AddType application/x-httpd-php .css


